PORT=3000
JWT_SECRET=your_super_long_random_secret_string
MONGODB_URL=mongodb+srv://password:username@masti.bamwh4l.mongodb.net

OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_CHAT_MODEL=qwen2.5:3b-instruct

CORS_ORIGIN=*

BREVO_KEY=secret
BREVO_FROM_NAME=Akhlaque
BREVO_FROM_EMAIL=akhlaquea01@gmail.com